<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szafcia Rafcia</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <body>
        <div style="text-align: center;">
            <img src="/images/starting-page.jpg" alt="obraz startowy" style="max-width: 100%; height: auto;">
        </div>
        <div style="text-align: center;">
        <a href="/login" style="font-size: 20px; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none; color: #333;">LOGOWANIE</a> | 
        <a href="/register" style="font-size: 20px; font-family: Arial, sans-serif; font-weight: bold; text-decoration: none; color: #333;">REJESTRACJA</a>
        </div>
    
    <h2>Produkty:</h2>
    <ul>
        <% products.forEach(product => { %>
            <li><%= product.name %> - <%= product.price %> PLN</li>
        <% }); %>
    </ul>
</body>
</html>
